# Concatenating text (strings)
---

## **Excel:**

    =CONCATENATE(text1, [text2], ...)
<br>

## **Python:**

    text1 + text2 + ...

<br>

*Tip: You can also add other text, symbols and spaces to format the outcome:*

    text1 + ' (' + text2 + ').'   # text1 (text2)

<br>

### Load required packages and data
---

In [1]:
# Import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Save Github location paths to a variable
failed_bank_path = 'https://github.com/The-Calculated-Life/python_analysis_for_excel/blob/main/data/failed_banks.xlsx?raw=true'
bx_books_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_books.csv'

# Read excel and CSV files
bank_list = pd.read_excel(failed_bank_path, sheet_name='banks')
bx_books = pd.read_csv(bx_books_path)

<br><br>

### Concatenation example:
---

In [3]:
# View "bank_list"
bank_list.head()

    CERT  ... Closing Date
0  14361  ...   2020-04-03
1  18265  ...   2020-02-14
2  21111  ...   2019-11-01
3  58317  ...   2019-10-25
4  58112  ...   2019-10-25

[5 rows x 6 columns]

<br>

In [4]:
# Combine city and state columns
bank_list['City'] + bank_list['ST']

0      BarboursvilleWV
1            EricsonNE
2             NewarkNJ
3             MaumeeOH
4             LouisaKY
            ...
556         HinsdaleIL
557            MaltaOH
558       ManchesterNH
559       MetropolisIL
560         HonoluluHI
Length: 561, dtype: object

<br>

In [5]:
# Create one column for location (formatted as: City, ST)
bank_list['City'] + ', ' + bank_list['ST']

0      Barboursville, WV
1            Ericson, NE
2             Newark, NJ
3             Maumee, OH
4             Louisa, KY
             ...
556         Hinsdale, IL
557            Malta, OH
558       Manchester, NH
559       Metropolis, IL
560         Honolulu, HI
Length: 561, dtype: object

<br>

In [6]:
# Save column
bank_list['location'] = bank_list['City'] + ', ' + bank_list['ST']

<br>

In [7]:
# View results
bank_list.head()

    CERT                         Bank Name  ... Closing Date           location
0  14361              The First State Bank  ...   2020-04-03  Barboursville, WV
1  18265                Ericson State Bank  ...   2020-02-14        Ericson, NE
2  21111  City National Bank of New Jersey  ...   2019-11-01         Newark, NJ
3  58317                     Resolute Bank  ...   2019-10-25         Maumee, OH
4  58112             Louisa Community Bank  ...   2019-10-25         Louisa, KY

[5 rows x 7 columns]

<br><br>
**QUICK CHALLENGE #1:**

**Task: Add a column called `book_info` to the `bx_books` dataframe. It should be a concatination of `book_title` and `book_author` formatted as `Title (Author)`**

In [8]:
# Your code for quick challenge #1 here:
bx_books.head()

        isbn  ...                   publisher
0  195153448  ...     Oxford University Press
1    2005018  ...       HarperFlamingo Canada
2   60973129  ...             HarperPerennial
3  374157065  ...        Farrar Straus Giroux
4  393045218  ...  W. W. Norton &amp; Company

[5 rows x 5 columns]

In [10]:
bx_books['book_info'] = bx_books['book_title'] + ' (' + bx_books['book_author'] + ')'

In [11]:
bx_books.head()

        isbn  ...                                          book_info
0  195153448  ...           Classical Mythology (Mark P. O. Morford)
1    2005018  ...                Clara Callan (Richard Bruce Wright)
2   60973129  ...                Decision in Normandy (Carlo D'Este)
3  374157065  ...  Flu: The Story of the Great Influenza Pandemic...
4  393045218  ...           The Mummies of Urumchi (E. J. W. Barber)

[5 rows x 6 columns]

<br><br>

### **Quick concept: Datatype**
---

In [13]:
# Create a column called "book_title_year" which is a combination of "book_title" and "year_of_publication"
bx_books['book_title'] + ' (' + bx_books['year_of_publication'].astype('str') + ')'

0                                Classical Mythology (2002)
1                                       Clara Callan (2001)
2                               Decision in Normandy (1991)
3         Flu: The Story of the Great Influenza Pandemic...
4                             The Mummies of Urumchi (1999)
                                ...
271374                    There's a Bat in Bunk Five (1988)
271375                       From One to One Hundred (1991)
271376    Lily Dale : The True Story of the Town that Ta...
271377                   Republic (World's Classics) (1996)
271378    A Guided Tour of Rene Descartes' Meditations o...
Length: 271379, dtype: object